#profile {
	margin-top: 16px;
	max-width: 1280px;
	transition: height 0.5s ease-in-out width 0.5s ease-in-out;
	width: calc(100% - 90px);
}

#profile footer {
	position: absolute;
	bottom: 0;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1rem;
	right: 8px;;
}

#profile footer span {
	transition: color 0.5s;
}

#profile iframe {
	height: calc(100vh -  40px);
	width: 100%;
}

.republic #profile footer {
	color: #0c5679;
}

.empire #profile footer {
	color: #600000;
}

#profile footer:hover span {
	color: white;
}

#profile h1 {
	margin-top: -0.5rem;
}

#profile .character-info {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

#profile .character-info .character-image {
	background-position: center !important;
	background-size: cover !important;
	border: solid 4px;
	border-radius: 8px;
	max-height: calc(100vw - 100px);
	max-width: calc(100vw - 100px);
	height: 400px;
	width: 400px;
}

#profile .character-info td:first-child {
	font-weight: bold;
	vertical-align: top;
	white-space: nowrap;
}

#profile .character-info td + td {
	padding-left: 10px;
}

#profile .button-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	margin-top: 20px;
}

#profile .current-page {
	margin-top: 20px;
	opacity: 0;
	padding-top: 10px;
	width: 100%;
}

#profile .current-page.fade-in {
	opacity: 1;
	transition: opacity 0.5s;
}

#profile .current-page h3 p {
	margin: 0;
}

#profile .current-page section + section {
	margin-top: 10px;
	padding-top: 10px;
}

#profile .itemized-container {
	margin-top: 20px;
	max-width: 1000px;
}

#profile .itemized-container h3 {
	padding-bottom: 4px;
}

#profile .itemized-container + * {
	margin-top: 20px;
}

#profile .itemized {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#profile .itemized div {
	gap: 10px;
	margin: 4px 8px;
	min-width: 160px;
}

#profile .itemized p {
	margin: 0;
}

.republic #profile .character-info .character-image {
	border-color: #43cef7;
}

.republic #profile .current-page, .republic #profile .current-page section + section {
	border-top: solid 1px rgba(0, 28, 48, 0.5);
}

.empire #profile .character-info .character-image {
	border-color: #600000;
}

.empire #profile .current-page, .empire #profile .current-page section + section {
	border-top: solid 1px #180000;
}