#helper {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#helper header {
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

#helper nav {
	display: flex;
	gap: 4px;
	margin: 10px;
	/* left: 10px;
	position: absolute;
	top: 10px; */
}

#helper select {
	font-size: 1rem;
}

#helper .button-republic, .button-empire {
	border: solid 2px;
	border-radius: 50%;
	height: 28px;
	position: relative;
	width: 28px;
}

#helper .button-republic {
	background-color: #0c5679;
	background-image: linear-gradient(#0c5679, #0c5679, #003660);
	border: solid 2px #43cef7;
}

#helper .button-empire {
	background-color: #400000;
	background-image: url('../../assets/images/greebling.png'), linear-gradient(#400000, #400000, #300000);
	border-color: #600000;
}

#helper .button-republic::after {
	background-color: white;
	border-radius: 50%;
	content: '';
	height: 16px;
	position: absolute;
	width: 16px;
}

#helper .close-button {
	position: absolute;
	right: 8px;
	top: 8px;
}

#helper .close-button button {
	height: 16px;
	padding-top: 0px;
	width: 16px;
}

#helper .panel {
	font-size: 1rem;
	width: calc(100% - 90px);
}

#helper .show-closed {
	display: none;
}

#helper .text-section {
	align-items: stretch;
	display: flex;
	flex-direction: row;
	height: 400px;
	justify-content: center;
}

#helper .input-holder, #helper .output-holder {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 100%;
}

#helper .input-holder textarea, #helper .output-holder textarea {
	height: 100%;
	min-height: 200px;
	width: 100%;
}

/* Output textarea container */
#helper .output-holder > *:nth-child(2) {
	flex-basis: 100%;
}

/* Output controls */
#helper .output-holder > *:last-child {
	align-items: center;
	display: flex;
	gap: 40px;
	justify-content: center;
	padding-top: 20px;
	user-select: none;
}

#helper .notes-section {
	align-items: stretch;
	display: flex;
	flex-direction: column;
}

#helper .notes-section .markdown-textarea {
	height: 300px;
}

#helper .cheatsheet-content {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

#helper .code-holder {
	background-color: #040810;
	background-image: linear-gradient(#040810, #081028);
	border: solid 1px #43cef7;
	border-radius: 6px;
	display: flex;
	gap: 20px;
	margin-bottom: 0;
	padding: 16px 28px 20px 28px;
}

#helper .code {
	border-radius: 4px;
	border-width: 2px;
	padding: 4px 8px;
}

#helper .code p {
	margin: 0;
	padding: 4px 8px;
}

#helper .emote-header {
	align-items: center;
	display: flex;
	gap: 10px;
	justify-content: center;
	user-select: none;
}

#helper .emote-header > *:first-child {
	margin-right: 10px;
}

#helper .emote-header .emote-free,
#helper .emote-header .emote-sub,
#helper .emote-header .emote-market,
#helper .emote-header .emote-unlocked {
	border-radius: 2px;
	cursor: pointer;
	min-width: 140px;
	text-align: center;
}

#helper .emote-header .emote-free:hover,
#helper .emote-header .emote-sub:hover,
#helper .emote-header .emote-market:hover,
#helper .emote-header .emote-unlocked:hover {
	font-weight: bold;
}

#helper .emote-header .emote-free.excluded,
#helper .emote-header .emote-sub.excluded,
#helper .emote-header .emote-market.excluded,
#helper .emote-header .emote-unlocked.excluded {
	color: gray;
}

#helper .emote-table {
	align-items: space-around;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 0 10px;
	max-height: 1600px;
	width: 100%;
	margin-top: 8px;
	min-height: 100px;
	padding-top: 2px;
	overflow-x: auto;
}

#helper .emote-table.excluded1
{
	max-height: 1600px;
}

#helper .emote-table.excluded2
{
	max-height: 1200px;
}

#helper .emote-table.excluded3 {
	max-height: 600px;
}

#helper .emote-table > div {
	display: flex;
	justify-content: stretch;
	margin-top: -2px;
	padding: 0;
	width: 320px;
}

#helper .emote-table > div > div {
	flex-basis: 70%;
	padding: 2px 8px;
	width: 60%;
}

#helper .emote-table > div > div:not(:last-child) {
	flex-basis: 30%;
}

#helper .emote-table h4 {
	position: relative;
	top: 4px;
}

#helper .emote-free,
#helper .emote-sub,
#helper .emote-market,
#helper .emote-unlocked {
	padding: 2px 8px;
}

#helper iframe {
	max-width: 900px;
	min-height: 400px;
	width: 100%;
}

#helper .imp-only, #helper .pub-only {
	display: none;
}

.empire #helper .button-republic::after {
	display: none;
}

.empire #helper .button-empire::after {
	background-color: #c0a040;
	border-radius: 50%;
	content: '';
	height: 16px;
	position: absolute;
	width: 16px;
}

.empire #helper .close-button button {
	background-color: #600000;
	border-color: #800000;
}

.empire #helper.close-button button:not(disabled):hover {
	background-color: #800000;
}

.republic #helper .close-button button {
	background-color: #003660;
	border-color: #43cef7;
}

.republic #helper .close-button button:not(disabled):hover {
	background-color: #0c5679;
}

.empire #helper .code-holder {
	background-color: #100404;
	background-image: linear-gradient(#100404, #200808);
	border-color: #800000;
	flex-direction: row-reverse;
}

.republic #helper .code-holder {
	background-color: #040810;
	background-image: linear-gradient(#040810, #081028);
	border: solid 1px #43cef7;
}

.republic #helper .emote-table > div > div:not(:last-child) {
	border-right: solid 1px #43cef7;
}

.republic #helper .emote-free {
	background-color: #183010;
	border: solid 2px #43cef7;
}

.republic #helper .emote-sub {
	background-color: #301010;
	border: solid 2px #43cef7;
}

.republic #helper .emote-market {
	background-color: #302810;
	border: solid 2px #43cef7;
}

.republic #helper .emote-unlocked {
	background-color: black;
	border: solid 2px #43cef7;
}

.republic #helper .pub-only {
	display: table-cell;
}

.empire #helper .emote-table > div > div:not(:last-child) {
	border-right: solid 1px #200000;
}

.empire #helper .emote-free {
	background-color: #0c1808;
	border: solid 2px #200000;
}

.empire #helper .emote-sub {
	background-color: #280000;
	border: solid 2px #200000;
}

.empire #helper .emote-market {
	background-color: #281808;
	border: solid 2px #200000;
}

.empire #helper .emote-unlocked {
	background-color: black;
	border: solid 2px #200000;
}

.empire #helper .imp-only {
	display: table-cell;
}

/* IMPORTANT - Needs to be at the bottom to override everything else! */
#helper .closed {
	height: auto !important;
}
#helper .closed > * {
	display: none !important;
}

#helper .closed > h2, #helper .closed > h3, #helper .closed > .close-button {
	display: block !important;
}

#helper .closed > .close-button > button {
	display: inline-flex !important;
	padding-top: 3px;
}