#discord-post {
	max-height: calc(100vh - 100px);
	max-width: calc(100vw - 80px);
	overflow-y: auto;
}

#discord-post > button {
	margin-top: 20px;
}

#discord-post h1 {
	font-family: sans-serif;
}

#discord-post h2 {
	margin: 0;
}

#discord-post h1, #discord-post h2, #discord-post h3, #discord-post h4, #discord-post h5, #discord-post h6 {
	text-align: left;
}

#discord-post h4, #discord-post h5, #discord-post h6 {
	color: red;
}

#discord-post .markdown-toolbar button {
	text-shadow: none;
}

#discord-post .markdown-textarea {
	height: 40rem;
	max-height: calc(100vh - 20rem);
	max-width: 1000px;
	width: calc(100vw - 80px);
}

#discord-post > .save-load {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 10px 20px;
	margin-top: 10px;
	width: 100%;
}

#discord-post > .save-load > div {
	align-items: stretch;
	display: flex;
	gap: 10px;
}