#filter .filter-body {
	align-items: flex-start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 10px 20px;
}

#filter .filter-body > div {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

#filter .filter-body > div > div > div:first-child {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

#filter .button-row {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 10px 20px;
	margin-top: 20px;
}

#filter .filter-list {
	background-color: #181008;
	background-image: linear-gradient(#0c0804, #181008, #181008);
	border: solid 1px #a09040;
	border-radius: 4px;
	padding: 4px 4px;
	user-select: none;
}

#filter .filter-list * {
	color: #a09040;
	cursor: pointer;
	font-family: monospace;
	font-size: 1rem;
	padding: 0 4px;
	transition: all 0.25s;
}

#filter .filter-list *:hover {
	background-color: #302010;
	color: #c0a040;
}

#filter .filter-list *.selected {
	background-color: #a09040;
	color: white;
}

#filter .filter-list *.selected:hover {
	background-color: #b0a050;
	text-shadow: 0px 0px 10px white;
}

.empire #filter .filter-list {
	background-image: url('../../../../assets/images/greeblingText.png'), linear-gradient(#0c0804, #181008, #181008);
	border-color: #403810;
}