body {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  margin: 20px 20px 0 20px;
  padding: 20px 20px 8px 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
	color: #e0c060;
}

a:link:hover, a:visited:hover {
	color: #ffe080;
}

a:visited {
	color: #c0a040;
}

button {
	align-items: center;
	background-color: #c0a040;
	border: solid 3px #ffe080;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	display: inline-flex;
	font-size: 1.25rem;
	height: 30px;
	justify-content: center;
	padding: 6px 12px;
	text-shadow: 0px 0px 5px #ffe080;
	transition: all 0.25s;
	user-select: none;
}

button:not([disabled]):hover {
	background-color: #c8a848;
	text-shadow: 0px 0px 10px white;
}

button[disabled] {
	background-color: #a09040;
	border-color: #c0a040;
	color: #a09040;
	pointer-events: none;
}

button.button-minimal {
	background-color: transparent !important;
	border: none;
	color: rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	height: initial;
	padding: 2px 4px;
}

.button-minimal:hover {
	color: white !important;
}

.button-minimal[disabled] {
	color: rgba(192, 192, 192, 0.25) !important;
}

.button-small {
	border-width: 2px;
  font-size: 1rem;
	height: initial;
	padding: 2px 4px;
}

h1, h2, h3, h4, h5 {
	margin: 0px 0px 8px 0px;
	padding: 0;
  text-align: center;
	user-select: none;
}

h1 {
  font-family: 'StarWars';
	font-weight: normal;
}

h1 label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: bold;
}

hr {
	border-bottom-width: 0px;
	border-style: solid;
}

iframe {
	border-radius: 8px;
}

input[type='email'], input[type='password'], input[type='text'], input[type='url'], select, textarea, .text-input {
	background-color: #181008;
	background-image: linear-gradient(#0c0804, #181008, #181008);
	border: solid 1px #a09040;
	border-radius: 4px;
	color: #c0a040 !important;
	padding: 4px 8px;
	resize: none;
}

.mdxeditor hr {
	border-color: #403810 !important;
}

label {
	user-select: none;
}

p {
	margin: 0;
}

p + p {
	margin-top: 20px;
}

select {
  font-size: 1.25rem;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'StarWars';
  src: url('./assets/fonts/SfDistantGalaxy-0l3d.ttf');
}